.footer {
  background: $background-footer;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2.5rem;
    margin-top: 2rem;

    @include desktop {
      font-size: 3rem;
    }
  }

  .media {

    .logo {
      width: 5rem;
      margin: 3rem;
    }
  }
}