#header {
  padding: 1.5rem;
  background: $color-dark;
  display: flex;
  align-items: center;
  text-align: center;

  .logo {
    width: 50%;
    transition: 1s;

    @include desktop {
      width: 60%;
    }

    &:hover {
      width: 70%;
    }
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 0;
    background: $color-dark;
    margin-right: 1rem;

    @include tablet {
      margin-right: 4rem;
    }

    @include desktop {
      width: 100%;
      margin-right: 0;
    }

    .toggle {
      background: red;

      @include mobile {
        padding: 0.2rem 0.3rem;
      }
    }

    .collapse {
      background: $color-dark;
    }

    .linkHeader {
      font-family: $font-josefin;
      font-size: 1rem;
      color: $color-header;
      text-decoration: none;
      border: 2px solid $color-dark;
      transition: 1s;
      padding: 0.5rem 2rem;
      margin: 0.2rem;

      @include desktop {
        padding: 1rem;
        margin: 1rem;
        font-size: 1.3rem;

        &:hover {
          border: 2px solid $color-header;
          font-size: 1.5rem;
        }

        &:active {
          color: $color-light;
          border: 2px solid $color-light;
        }
      }
    }
  }
}