$color-primary: orange;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000;
$color-gray: #A5A5A5;
$color-light-gray: #F7F7F7;
$color-white: #FFF;